/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.note-buttons {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.white-note {
    background-color: #fff;
    color: #333;
}

.black-note {
    background-color: #000;
    color: #fff;
}
